@{
    ViewData["Title"] = "T-Gin";
}


@* Hero *@
<div class="main">
    <div class="row align-items-center g-lg-5 mb-5">
        <div class="col m-auto">
            <h1 class="display-4 font-weight-bold">Technological Gin</h1>
            <hr />
            <h4 class="font-weight-light"> Mauris nisl odio, bibendum in condimentum eget, <br /> porta sit amet libero.  </h4>
        </div>
        <div class="col">
            <img width="300px" height="300px" style="margin-top: 150px; margin-left: 134px; " src="~/img/hero-placeholder.png" />
        </div>
    </div>
</div>

<div class="graph1" style="height: 400px; width: 400px; display: block; background-color: #gray; "></div>

<section class="card-deck">
    <div class="card">
        <a class="card-inner" href="#">
            <img class="cardsPic" alt="first card" src="~/img/card-placeholder.png" />
            <p class="card-title">First card</p>
        </a>
    </div>

    <div class="card">
        <a class="card-inner" href="#">
            <img class="cardsPic" alt="second card" src="~/img/card-placeholder.png" />
            <p class="card-title">Second card</p>
        </a>
    </div>

    <div class="card">
        <a class="card-inner" href="#">
            <img class="cardsPic" alt="third card" src="~/img/card-placeholder.png" />
            <p class="card-title">Third card</p>
        </a>
    </div>

    <div class="card">
        <a class="card-inner" href="#">
            <img class="cardsPic" alt="fourth card" src="~/img/card-placeholder.png" />
            <p class="card-title">Fourth card</p>
        </a>
    </div>

    <div class="card">
        <a class="card-inner" href="#">
            <img class="cardsPic" alt="fifth card" src="~/img/card-placeholder.png" />
            <p class="card-title">Fifth card</p>
        </a>
    </div>
</section>



    @* Hero with list *@
    <div class="row align-items-center mb-5">

        <div class="col">
            <img width="400px" height="400px" style=" display: flex; margin-left: 20%;" src="~/img/models-1-placeholder.png" />
        </div>

        <div class="col">
        <div class="hero-with-list">
            <h1 class="display-4 lh-1 mb-3">Как мы это делаем</h1>   
            <div class="smooth-text"> <h4 class="font-weight-light"> Pellentesque semper porta tortor sit amet ornare. Pellentesque tincidunt hendrerit dui, ut interdum lorem congue eget. Praesent non bibendum nisi, ut viverra neque. Quisque augue justo, sagittis non mi ut, tincidunt luctus elit.</h4></div>
            <div class="list-with-hero-blured">
                <div class="d-flex flex-row m-3">
                    <div class="smooth-text">
                        <div class="list-circle"><p class="circle-text">1</p></div>
                        <div class="h4 font-weight-light">Aenean porttitor risus nec tristique pretium. Nullam tempor, arcu vitae maximus iaculis, quam massa accumsan ante, eget fringilla tellus lacus vitae tortor.</div>
                    </div>
                </div>
                <div class="d-flex flex-row m-3">
                    <div class="smooth-text">
                        <div class="list-circle"><p class="circle-text">2</p></div>
                        <div class="h4 font-weight-light">Proin posuere nulla in nulla molestie, in mattis libero congue. Nunc sit amet ornare metus. Nunc fermentum erat sit amet metus varius, nec consequat magna tristique. Cras pellentesque semper urna, finibus semper elit.</div>
                    </div>
                </div>
                <div class="d-flex flex-row m-3">
                    <div class="smooth-text">
                        <div class="list-circle"><p class="circle-text">3</p></div>
                        <div class="h4 font-weight-light">Mauris nisl odio, bibendum in condimentum eget, porta sit amet libero.</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    @* Solutions section *@
    <div class="mb-5">
        <h1 class="display-4 mb-3">Решения</h1>

        <div class="card-deck" style="min-height: 250px;">
            <div class="card">
                <a asp-area="" asp-controller="home" asp-action="error" class="card-body d-flex flex-column justify-content-between start">
                    <img src="~/img/card-placeholder-2.png" style="max-height: 90px;"/>
                    <div class="card-title">Maecenas</div>
                </a>
            </div>
            <div class="card">
                <a asp-area="" asp-controller="home" asp-action="error" class="card-body d-flex flex-column justify-content-between">
                    <img src="~/img/card-placeholder-2.png" />
                    <div class="card-title">Pellentesque</div>
                </a>
            </div>
            <div class="card">
                <a asp-area="" asp-controller="home" asp-action="error" class="card-body d-flex flex-column justify-content-between">
                    <img src="~/img/card-placeholder-2.png" />
                    <div class="card-title">Quisque</div>
                </a>
            </div>
            <div class="card">
                <a asp-area="" asp-controller="home" asp-action="error" class="card-body d-flex flex-column justify-content-between">
                    <img src="~/img/card-placeholder-2.png" />
                    <div class="card-title">Aenean</div>
                </a>
            </div>
            <div class="card">
                <a asp-area="" asp-controller="home" asp-action="error" class="card-body d-flex flex-column justify-content-between">
                    <img src="~/img/card-placeholder-2.png" />
                    <div class="card-title">Nunc</div>
                </a>
            </div>
            <div class="card">
                <a asp-area="" asp-controller="home" asp-action="error" class="card-body d-flex flex-column justify-content-between">
                    <img src="~/img/card-placeholder-2.png" />
                    <div class="card-title">Vestibulum</div>
                </a>
            </div>
        </div>
    </div>

    @* About section *@
    <div class="row align-items-center">
        <div class="col"><img width="200px" height="200px" src="~/img/about-placeholder.png" /></div>
        <div class="col">
            <h1 class="display-4 mb-3">О компании</h1>
            <hr />
            <h4 class="font-weight-light mb-3">Maecenas quam enim, luctus sed ante vitae, vehicula molestie ante. Quisque vitae rhoncus justo, a faucibus augue. Fusce ac dolor efficitur, tincidunt elit at, ultricies magna. Nunc eu dapibus mi, sed imperdiet quam. Nullam metus mauris, pretium non imperdiet ac, elementum a dui.</h4>
            <a asp-area="" asp-controller="home" asp-action="about"><div class="btn btn-primary">Подробнее</div></a>
        </div>
    </div>
<!-- Carousel 
-->



