@{
    ViewData["Title"] = "Вакансии";
}

<div style="height: 150px"></div>

<div class="display-4">Наши вакансии</div>

<div class="p-3 m-5 shadow rounded">
    <h2>Java разработчик</h2>
    <div class="d-flex flex-row justify-content-between col-5">
        <p>IT и технические функции</p>
        <p>Опыт работы 3 года</p>        
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyModal"><span class="h3">Откликнуться</span></button>
</div>

<div class="p-3 m-5 shadow rounded">
    <h2>Инженер по функциональному тестированию</h2>
    <div class="d-flex flex-row justify-content-between col-5">
        <p>IT и технические функции</p>
        <p>Опыт работы 3 года</p>        
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyModal"><span class="h3">Откликнуться</span></button>
</div>

<div class="p-3 m-5 shadow rounded">
    <h2>Инженер по нагрузочному тестированию</h2>
    <div class="d-flex flex-row justify-content-between col-5">
        <p>IT и технические функции</p>
        <p>Опыт работы 3 года</p>        
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyModal"><span class="h3">Откликнуться</span></button>
</div>

<div class="p-3 m-5 shadow rounded">
    <h2>DevOps инженер</h2>
    <div class="d-flex flex-row justify-content-between col-5">
        <p>IT и технические функции</p>
        <p>Опыт работы 3 года</p>        
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyModal"><span class="h3">Откликнуться</span></button>
</div>

<div class="p-3 m-5 shadow rounded">
    <h2>Frontend разработчик</h2>
    <div class="d-flex flex-row justify-content-between col-5">
        <p>IT и технические функции</p>
        <p>Опыт работы 3 года</p>        
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyModal"><span class="h3">Откликнуться</span></button>
</div>

<div class="p-3 m-5 shadow rounded">
    <h2>Системный аналитик</h2>
    <div class="d-flex flex-row justify-content-between col-5">
        <p>IT и технические функции</p>
        <p>Опыт работы 3 года</p>        
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#replyModal"><span class="h3">Откликнуться</span></button>
</div>
