@{
    ViewData["Title"] = "Решения";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium lectus metus, at faucibus lorem commodo eu.
    Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa. Sed sodales purus cursus pretium commodo.
    Duis velit ex, elementum vel tristique at, ornare vel orci.
</p>

<div class="card-deck mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
            <p class="card-text">
                Aenean pretium lectus metus, at faucibus lorem commodo eu.
                Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
            <p class="card-text">
                Aenean pretium lectus metus, at faucibus lorem commodo eu.
                Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
            <p class="card-text">
                Aenean pretium lectus metus, at faucibus lorem commodo eu.
                Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
            <p class="card-text">
                Aenean pretium lectus metus, at faucibus lorem commodo eu.
                Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa.
            </p>
        </div>
    </div>
</div>

<div class="card-deck mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
            <p class="card-text">
                Aenean pretium lectus metus, at faucibus lorem commodo eu.
                Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
            <p class="card-text">
                Aenean pretium lectus metus, at faucibus lorem commodo eu.
                Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
            <p class="card-text">
                Aenean pretium lectus metus, at faucibus lorem commodo eu.
                Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
            <p class="card-text">
                Aenean pretium lectus metus, at faucibus lorem commodo eu.
                Suspendisse hendrerit massa metus, vitae suscipit dui faucibus vel. Nulla vel sagittis massa.
            </p>
        </div>
    </div>
</div>
