@{
    ViewData["Title"] = "Web разработка";
}

<div style="height: 150px"></div>

@* Hero *@
<div class="row align-items-center g-lg-5 mb-5">
    <div class="col m-auto">
        <h1 class="display-4 font-weight-bold">Веб-приложения</h1>
        <hr />
        <h4 class="font-weight-light">Приложения, доступные в любое время на любом устройстве. Функционал,
            удобство,производительность и доступность — главные преимущества использования таких решений перед обычными
            приложениями</h4>
    </div>
    <div class="col">
        <img style="margin-top: 150px; margin-left: 134px; " src="~/img/web-placeholder.svg" />
    </div>
</div>

@* What we develop *@
<div>
    <h1 class="display-4 font-weight-bold mb-5">Что мы разрабатываем?</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 mb-4">
            <div class="p-2 border rounded">
                <div class="p-3 d-flex justify-content-between">
                    <p class="font-weight-bold p-2">Приложения для электронной коммерции</p>
                    <img class="align-self-end" src="~/img/web-product-placeholder.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="p-2 border rounded">
                <div class="p-3 d-flex justify-content-between">
                    <p class="font-weight-bold p-2">CRM-системы</p>
                    <img src="~/img/web-product-placeholder.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="p-2 border rounded">
                <div class="p-3 d-flex justify-content-between">
                    <p class="font-weight-bold p-2">Системы электронных платежей</p>
                    <img src="~/img/web-product-placeholder.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="p-2 border rounded">
                <div class="p-3 d-flex justify-content-between">
                    <p class="font-weight-bold p-2">Корпоративные порталы</p>
                    <img src="~/img/web-product-placeholder.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="p-2 border rounded">
                <div class="p-3 d-flex justify-content-between">
                    <p class="font-weight-bold p-2">Различные сайты</p>
                    <img src="~/img/web-product-placeholder.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
