
body {
    transition: color 0.2s cubic-bezier(0.2, 0.4, 0.6, 0.8);
    color: whitesmoke;
    background-color: rgba(7,7,7,255);
}

    body .nav-item-home, body .nav-item-solution, body .nav-item-clients, body .nav-item-contact {
        transition: color 0.3s linear;
        color: whitesmoke;
    }

    body footer {
        transition: color 0.3s linear;
        color: whitesmoke;
        background-color: #08080a;
    }

    body .footer-text {
        color: whitesmoke;
    }

    body.lightTheme {
        color: black;
        background-color: white;
    }

        body.lightTheme header {
            color: #000000;
            background-color: #ffffff;
        }

        body.lightTheme header.scroll {
            transition: box-shadow 0.2s linear;
            box-shadow: #808080 1px 1px 6px;
        }

        body.lightTheme footer {
            color: #000000;
            background-color: #ffffff;
        }

        body.lightTheme .footer-text {
            color: #000000
        }

        body.lightTheme container {
            color: #000000;
            background-color: #ffffff;
        }

        body.lightTheme .nav-item-home, body.lightTheme .nav-item-clients, body.lightTheme .nav-item-solution, body.lightTheme .nav-item-contact {
            color: black;
        }

            body.lightTheme .nav-item-home:hover, body.lightTheme .nav-item-solution:hover, body.lightTheme .nav-item-clients:hover, body.lightTheme .nav-item-contact:hover {
                transition: background-color 0.3s linear;
                background-color: #b9b9b9;
            }

    body.lightTheme h5.card-title {
        color: black;
    }


a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding-bottom: 10px;
    color: whitesmoke;
    background-color: #000000;
}

    header.scroll {
        transition: color, box-shadow 0.3s linear;
        box-shadow: #00152b 6px 6px 20px;
    }

.logo {
    max-height: 102px;
    height: 100px;
    padding: 20px;
    transition: height 0.2s linear;
}

    .logo:hover {
        height: 102px;
    }

ul {
    display: inline-block;
    margin: 20px -40%;
}

.nav-item-home, .nav-item-solution, .nav-item-clients, .nav-item-contact {
    color: whitesmoke;
    border-radius: 8px;
    padding: 4px 4px 4px 4px;
    background: none;
    transition: font-size, background-color 0.3s linear;
}

    .nav-item-home:hover, .nav-item-solution:hover, .nav-item-clients:hover, .nav-item-contact:hover {
        transition: background-color 0.3s linear;
        background-color: #494949;
    }

    .nav-item-home:active, .nav-item-solution:active, .nav-item-clients:active, .nav-item-contact:active {
        transition: font-size, background-color, font-size 0.3s linear;
        font-size: 16.5px;
        background-color: #494949
    }


.nav-item-button {
    margin-left: 34px;
    margin-top: 17px;
}

.btn-change-theme {
    width: 20px;
    height: 20px;
    background: #111111;
    outline-width: 10px;
    outline-offset: -1px;
    cursor: pointer;
    outline: solid 5px #111111;
    border-radius: 10px;
    margin-bottom: 16px;
    transition: outline-width 0.2s linear;
}

    .btn-change-theme:active {
        outline-width: 10px;
    }

    .btn-change-theme:hover {
        background: #222222;
        outline-color: #222222;
    }

.btn-contact {
    text-align: center;
    border-radius: 20px;
    color: whitesmoke;
}

.card-placeholder {
    background-color: whitesmoke;
    padding: 0px 0px 0px 0px;
    height: 100px;
}

.card {
    background-color: whitesmoke;
    transition: background, outline, box-shadow 0.2s cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

    .card:hover {
        background: #007BFF;
        box-shadow: #808080 1.5px 1.5px 10px;
    }

.card-title:hover {
    color: whitesmoke;
    font-size: 26px;
}

.card {
    margin-top:50%;
    opacity: 0;
}

    .card.smooth-scroll {
        transition: opacity,margin 0.7s cubic-bezier(0.2, 0.4, 0.6, 0.8);
        margin: 100px 10px ;
        opacity: 100%;
    }

.card-inner {
    padding-right: 10px;
}

.cardsPic {
    height: 50px;
    transition: height 0.2s linear;
}

    .cardsPic:hover {
        height: 150px;
    }

.card-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    transition: font-size 0.2s linear;
}

.carousel-inner {
    margin-top: 100px;
}

.short-about {
    margin-left: 10rem;
    opacity: 0;
}

    .short-about.smooth-scroll {
        transition: opacity, margin 0.7s cubic-bezier(0.2, 0.4, 0.6, 0.8);
        margin-left: 0;
        opacity: 100%;
    }


.list-circle .first-state {
}

.list-circle .second-state {
}

.list-circle .third-state {
}

.list-circle1, .list-circle2, .list-circle3 {
    margin-top: 10%;
    width: 80px;
    height: 80px;
    color: black;
    background: #80bdff;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 50%;
}

    .list-circle1:hover, .list-circle2:hover, .list-circle3:hover {
        color: white;
        background: #007BFF;
    }

.circle-text {
}

    .circle-text:hover {
    }
